@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@300&display=swap");

html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0px;
  position: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* color web site */
:root {
  --primary: #fff;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --bgheader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
}

body {
  background-color: var(--primary);
  color: #000;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}
.flex {
  display: flex;
  align-items: center;
}
.border {
  border: 2px solid red;
}
button {
  all: unset;
}
button:hover {
  cursor: pointer;
}
button:active {
  scale: 0.95;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
